<!DOCTYPE html>
<html>
<head>
  <title>Bookmark manager</title>
   <link rel="stylesheet" type="text/css" href="/css/application.css">  
</head>
<body>
  <h1><p>Bookmark manager</p></h1>
  <form action="/" method="POST">
    <input type="text" name="title">
    <input type="text" name="url">
    <button class="button" type="submit" name="add">Add Bookmark</button>
  </form>

  <ul>
    <% @links.each do |link| %>
      <li><a href="<%= link.url %>"><%= link.title %></a></li>
    <% end %>
  </ul>
</body>
</html>